
<% if user_signed_in? %>
  <h5 class = "submit">投稿する</h5>
  <%= form_for @article do |f| %>
    <%= f.text_field :content, :placeholder => "New article" %>
    <%= f.submit %>
  <% end %>
  <hr>
  <h5>投稿一覧</h5>
  <% @articles.each do |post| %>
<!--     <a href="/users/<%= post.user.id %>"><%= post.user.name %></a>
    <p><a href="/articles/<%= post.id %>"><%= post.content %></a></p> -->
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <font ><span class="card-title"><a href="/users/<%= post.user.id %>"><%= post.user.name %></a></span></font>
                  <p><%= simple_format(post.content) %></p>
                  <% if current_user.already_liked?(post) %>
                    <%= button_to 'いいね削除', "/articles/#{post.id}/likes/id", method: :delete, class:"liked" %>
                  <% else %>
                    <%= button_to 'いいね', article_likes_path(post), class:"unlike"  %>
                  <% end %>
                  <% if user_signed_in? && current_user.id == post.user_id %>
                  <%= link_to '編集', "/articles/#{post.id}/edit", method: :get %>
                  <%= link_to '削除', "/articles/#{post.id}", method: :delete %>
                  <% end %>
<!--                   <p><a href="/articles/<%= post.id %>"><%= post.content %></a></p> -->
              </div>
            </div>
          </div>
        </div>
    <% end %>

<% else %>
  <%= link_to "ユーザー登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>

  <h5>投稿一覧</h5>
  <% @articles.each do |post| %>
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <font ><span class="card-title"><a href="/users/<%= post.user.id %>"><%= post.user.name %></a></span></font>
                  <p><%= simple_format(post.content) %></p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
